Repository OpenVisualCloud/Media-Communications-Mesh, pull requests merged in 2024-07, with the labels that each got.

#157 Dockerfiles adjustments to meet Trivy requirements.
  .dockerignore
  ffmpeg-plugin/Dockerfile
  media-proxy/Dockerfile
  sdk/3rdparty/libmemif/CMakeLists.txt
  sdk/Dockerfile
Labels: bug, enhancement, docker

#158 Full mcm library version control tag based.
  ffmpeg-plugin/6.1/0001-mcm-add-in-out-dev-support.patch
  ffmpeg-plugin/clone-and-patch-ffmpeg.sh
  sdk/3rdparty/libmemif/CMakeLists.txt
  sdk/3rdparty/libmemif/src/CMakeLists.txt
  sdk/CMakeLists.txt
  sdk/libmcm_dp.pc.in
Labels: enhancement, dependencies

#155 Update CMakeLists.txt
  sdk/CMakeLists.txt
Labels: bug, enhancement, dependencies

#168 Dockerfile size shrink to 265MB + Mtl-Manager
  media-proxy/Dockerfile
Labels: enhancement, dependencies, docker
